html, body{
    height: 100%;
    width: 100%;
}

.button{
    padding: 21px 33px;
    margin: 1px 2px;
    border: 2px solid black;
    border-radius: 12px;
    cursor: pointer;
    width: 62px;
    
}

.row{
    margin: 0px 8px;
}
.row input{
    padding: 4px 0px;
    margin: 3px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 27px;
}


